.login-logo{
    position: relative;
    width: 100%;
}

.login-fields{
    margin-top: 10px;
}

.login-button{
    width: 100%;
    margin-top: 10px;
}

:host ::ng-deep p-inputMask{
    width: 100%;
}

:host ::ng-deep{

    .p-inputmask{
        width: 100%;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    p-dropdown{
        width: 100%;
    }

    .p-dropdown{
        width: 100%;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

}
