<div class="p-grid p-fluid" style="padding: 10px;" [formGroup]="form">

    <div class="p-col-12 p-md-12" style="padding-top: 0">

        <div class="p-field">
            <label>Nome</label>
            <input autocomplete="new-password" formControlName="nome" pInputText>
            <form-control-erros-message [field]="form.get('nome')"></form-control-erros-message>
        </div>

        <div class="p-field">
            <label>Tipo</label>
            <p-selectButton [allowEmpty]="false" [options]="[{value: TipoLocal.CONDOMINIO, label: 'Condomínio'}, {value: TipoLocal.EMPRESA, label: 'Empresa'}, {value: TipoLocal.RESIDENCIA, label: 'Residência'}]" formControlName="tipo"></p-selectButton>
            <form-control-erros-message [field]="form.get('tipo')"></form-control-erros-message>
        </div>

        <div class="p-field">
            <button pButton class="p-button-warning p-button-outlined p-col-12" label="Atrelar Endereço" (click)="cadastrarEndereco()"></button>
        </div>

        <div class="p-field">
            <button pButton class="p-button-success p-button-outlined p-col-12" label="Cadastrar" (click)="salvar()"></button>
        </div>

        <div class="p-field">
            <button pButton class="p-button-danger p-button-outlined p-col-12" label="Cancelar" (click)="cancelar()"></button>
        </div>

    </div>

</div>
