::ng-deep{
  .p-dropdown-panel{
    max-width: 60vw !important;
  }
    .fc-today-button{
        display: none !important;
    }
}

:host ::ng-deep{

  .p-menuitem-icon, .p-menuitem-text{
    color: #00AD4C !important;
    font-weight: bold;
  }



}

::ng-deep .p-menuitem-text {
  white-space: nowrap;
}

::ng-deep .p-menubar .p-submenu-list {
  width: auto;
}

::ng-deep .p-menubar-start {
  margin-left: 50px;
  margin-right: auto;
}

.layout-content{
  padding: 0 !important;
}

::ng-deep .progress-spinner {
  position: absolute !important;
  z-index: 99999 !important;
  height: 100% !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgba(0,0,0,0.3) !important;
}

:host ::ng-deep .p-menubar-end{
  display: none;
}

::ng-deep .app-menu-item-left{
  margin-right: auto;
}

::ng-deep .app-menu-item-left{
  width: 24px;
  min-width: 24px;
  text-align: center;
}
